target/# Ignore Maven wrapper files

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Eclipse project files
.project
.classpath
.settings/

# Ignore NetBeans project files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignore VS Code settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp